# Proyecto #1

## Curso: Ciencia de datos en python
## Nombre: Otto Chamo
## Carnet: 19001395
## Secci√≥n: V

# 1. Importing libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as skl

# 2. Loading dataset

In [3]:
dataset = pd.DataFrame(np.load('./data/proyecto_training_data.npy'))

dataset.head()

          0    1       2    3       4     5
0  208500.0  7.0   856.0  8.0  2003.0  65.0
1  181500.0  6.0  1262.0  6.0  1976.0  80.0
2  223500.0  7.0   920.0  6.0  2001.0  68.0
3  140000.0  7.0   961.0  7.0  1915.0  60.0
4  250000.0  8.0  1145.0  9.0  2000.0  84.0

## Dataset dimension

In [5]:
dataset.shape

(1460, 6)

## Dataset data types

In [6]:
dataset.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
dtype: object